/* En este style se encuentran los estilos del header y el footer, */
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#000000;
	height: 10%;/* Establecemos que el header abarque el 10% del largo */
}
.logo { /* Logo de la empresa a la izquierda con el alto del header */
	float:left; /* posiciona el logo a la izquierda */
	height: 100%;/* pone el alto del logo segun el header */
	width: auto;
}
.wrapper {
	width:98%; /* Establecemos que el ancho sera del 98% */
	margin:auto; /* Centramos los elementos */
    margin-left: 5px;
	overflow:hidden;
	height: 100%;/* Eliminamos errores de float */
}
.wrapper-login {   /* Logo centrado en el header para el login */
	width:98%; /* Establecemos que el ancho sera del 98% */
	margin:auto; /* Centramos los elementos */
    margin-left: 5px;
	height: 100%;/* Eliminamos errores de float */
	text-align: center;
}

.wrapper-footer-login {
	width:80%; /* Establecemos que el ancho sera del 90% */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
    padding-left: 100px;
}

header nav {
	height: 100%;  /* Establece el alto del nav al 100%  del header*/
	width: 81%;		/* Establece el nav con un 81% del ancho del header */
	float:right;	/* Se cloca a la derecha del header porque a la izquierda esta el logo */
	text-align:-webkit-right;
}

header nav a { /* Se usa para la navegacion del header, aca se cambia el color y estilo de la letra */
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 5px;
	line-height:normal;
	font-size:large;
	font-weight:bolder;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header nav a:hover { /* Se usa para cambiar el color de las opciones en el nav cuando se pasa el mouse sobre la opcion */
	background:#f53a3a;
}

header nav ul{ /* Se usa para el menu desplegable en el nav */
	display: inline-block;
	color:#fff;
	text-decoration:none;
	padding:0px;
	line-height:normal;
	font-size:large;
	font-weight:bolder;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav li{ /*  Se usa para las opciones que se despliegan*/
	display: inline-block;
}
header nav li a{ /* Se le agregan los mismos estilos a las opcines desplegadas */
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	padding:10px 5px;
	line-height:normal;
	font-size:large;
	font-weight:bolder;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav li.dropdown ul{ /* para desplegar las opciones cuando se ponga el mouse sobre la opcion que puede desplegar un menu */
	background-color: #000000;
	position:absolute;
	padding-left: 0;
	display: none;
	z-index: 1;	/* Se usa para que estas opciones queden sobre el resto de la pagina */
}
header nav li.dropdown:hover ul{ /* no deja mover el menu mientras el mouse este sobre este */
	display: block;

}

footer{
    width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#000000;
    text-align: center;
	height: 10%;
	
}
footer .p{ /* color del texto que se encuentra en el footer */
    color: #fff;
}

footer .logo { 
	line-height:100px;
	float:right;
}

footer .texto{
    display: flex;
    justify-content: center;
    align-items:center;
}
footer .imagen{
    width: 25px;
    height: 25px;
}

footer .imagen:hover{
    filter:hue-rotate(-100deg) brightness(500%);
}
footer .sena{ /* logo del sena en el footer */

    width: 45px;/* ancho del logo */
    height: 45px;/* alto del logo */
	margin-right: 50px; /* le ponemos una margen para que no quede pegado en el borde de la pagina */
}

p{ 	/* margen sobre el texto del footer */
	margin-top: 10px;  
}
.salir{ 	/* estilo que va a contener el boton de salir */
    height: 0%;
    width: 70px;
    text-align:center;
	font-weight: 300;
    font-size: 15px;
	margin-top: 2px;
	padding: 0%;
}

.btn_sal{ /* Estilo para el boton en el header, boton para salir de la aplicacion */
	width: 68px;
    text-decoration:none;
    font-weight: bold;
    font-size: 15px;
    color:#ffffff;
    background-color:#fa565f;
    border-color:#f74248;
    border-style: solid;
	height: auto;	
}
.btn_sal:hover{ /* Estilo para cuando se pase el mouse sobre el boton este cambie de color */
    background-color:#ffffff ;
    color: #040404;
}
