/* Estilos para el dialog, se usan para cambiar lo contraseña */
#modal::backdrop{
    background-color: rgb(0, 0, 0,.55); /* Oscurece el color atras del recuadro de cambiar contraseña */
}

#modal{ /* tamaño del recuadro y se posiciona en la mitade de la pantalla */
    max-width: 50ch; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}