#centrar-carga{
    width: 100%;
}

.contenedor-carga{
    width: 100%;
}

.bloques{
    background-color: blanchedalmond;
    border: 2px solid black;
}

.select_tabla{
    border: 2px solid black;
    width: 300px;
}

#tablaServicios{
    min-width: max-content;
    border-color: black;
}

#tablaServicios td{
    min-width: max-content;
    padding: 1px;
}

#tablaArticulos{
    min-width: max-content;
    border-color: black;
}

#tablaArticulos td{
    min-width: max-content;
    padding: 1px;
}

#tablaUsuarios{
    min-width: max-content;
    border-color: black;
}

#tablaUsuarios td{
    min-width: max-content;
    padding: 1px;
}

.container{
    min-width: 95%;
}