.loginback{ /* Esto es el fondo del login, toma todo lo que hay entre el header y el footer y agrega un gif al backgrund */
    width: 100%;
    height: 100%;
    background: url(../images/fondo.png);
    /* background:url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjk1ZGQzYjAzYjkwOWM1NjVlOTVlOGYyYmI2YzUyZWQzNjVlNjM1NiZjdD1n/Ui46FI4nHWyD6/giphy.gif) center center no-repeat; */
    background-size: contain;
    background-repeat: no-repeat;
  }
  
#centrar-carga{
    width: 100%;
}

.contenedor-carga{
    width: 100%;
}

.bloques{
    background-color: blanchedalmond;
    border: 2px solid black;
}

.select_tabla{
    border: 2px solid black;
    width: 300px;
}

#tablaServicios{
    min-width: max-content;
    border-color: black;
}

#tablaServicios td{
    min-width: max-content;
    padding: 1px;
}

#tablaArticulos{
    min-width: max-content;
    border-color: black;
}

#tablaArticulos td{
    min-width: max-content;
    padding: 1px;
}

#tablaUsuarios{
    min-width: max-content;
    border-color: black;
}

#tablaUsuarios td{
    min-width: max-content;
    padding: 1px;
}

#tablaSolicitudes{
    min-width: max-content;
    border-color: black;
}

#tablaSolicitudes td{
    min-width: max-content;
    padding: 1px;
}
.container{
    min-width: 95%;
}

.letra-blanco{
    color: white;
}